* {
  /* border: 0.5px solid red; */
}

body {
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --color-primary: rgb(212, 168, 57);
  --color-primary-hover: rgb(166, 129, 38);
  --color-primary-link-hover: rgb(255, 200, 59);
  --default-transition: all 175ms ease-in;
}