.Center {
  display: flex;
  justify-content: center;
}

ul.BoxItem {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 75px 0;  
  width: 80%;
}

ul.BoxItem li {
  display: flex;
  max-width: calc(33.33% - 50px);
  margin: 25px 0;
}