* {
  /* border: 0.5px solid red; */
}

body {
  box-sizing: border-box;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
  height: 600px;
  background-image: url("./images/ravenous-background-image.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.sortContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 900px;
}

.sortItems {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 600px;
  height: 60px;
  margin-bottom: 25px;
  font-size: 1.1rem;
  color: white;
  font-weight: 700;
  line-height: 1;
  border-bottom: 1px solid white;
}

.sortItems div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
}

.searchItems {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.searchItems #searchBox,
.searchItems #whereBox {
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: white;
  width: 400px;
  height: 45px;
  margin: 5px 25px;
  padding: 5px 0 5px 15px;
  border-radius: 5px;
  font-size: 1.1rem;
  color: rgb(131, 131, 131);
  font-weight: 600;
}

button {
  height: 40px;
  width: 120px;
  border-radius: 5px;
  background-color: rgb(186, 165, 70);
  box-shadow: none;
  border: none;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
}

.biz-box-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: pink; */
  margin: 50px 300px;
}

.biz-box-item {
  display: flex;
  flex-direction: column;
  /* background-color: mediumspringgreen; */
  max-width: calc(33.33% - 80px);
}

.biz-box-item h1 {
  font-size: 1.2rem;
  font-weight: 800;
}

.biz-box-item p {
  font-size: 0.8rem;
}

.content-box {
  padding: 5px 0;
  margin-bottom: 15px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content p {
  margin: 2px 0;
}

.content .content-left {
  text-align: start;
}

.content .content-right {
  text-align: end;
}

.content-right .highlight {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1rem;
  color: rgb(179, 129, 3);
}

.content-right .highlight-small {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: rgb(179, 129, 3);
}