* {
  list-style: none;
  /* border: 0.5px solid red; */
}

:root {
  --color-primary: rgb(212, 168, 57);
  --color-primary-hover: rgb(166, 129, 38);
  --color-primary-link-hover: rgb(255, 200, 59);
  --default-transition: all 175ms ease-in;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
